<app-home></app-home>
<form class="airline">
  <div class=" form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name"  placeholder="Name">

  </div>
  <div class="form-group">
    <label for="contactNumber">Contact Number</label>
    <input type="contactNumber" class="form-control"  placeholder="contactNumber">
  </div>

  <div class="form-group ">
    <label for="contactAddress">Contact Number</label>
    <input type="contactAddress" class="form-control"  placeholder="contactAddress">
  </div>
  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()"> Cancel</button>
</form>
