<div class="air-form">
<label for="AirlineName">AirlineName</label>
<input type="text" placeholder="Enter AirlineName" name="AirlineName" required>
<br>
<label for="UploadLogo">Upload Logo</label>
<input type="text" placeholder="Upload Logo" name="Upload Logo" required>
<br>
<label for="ContactAddress">ContactAddress</label>
<input type="text" placeholder="ContactAddress" name="ContactAddress" required>
<br>
<label for="ContactAddress">ContactNumber</label>
<input type="text" placeholder="ContactNumber" name="ContactNumber" required>
</div>
