<app-user-home></app-user-home>
<h1 style="align-content: center;">Flight Booking</h1>

<form class="airline">
  <!-- <div class="left">
   <h3>Select Airlines:</h3>
   <select  style="width: 100px" (change)="populateCity($event.target)" name="airlineId" [(ngModel)]="flightBooking.airlineId">
    <option name ="airlineId"[ngValue]="null">Select something</option>
    <option *ngFor="let option of airlines"
            [ngValue]="option.airlineId" [innerHtml]="option.airlineName"></option>
  </select>
</div>
<div class="left">
  <h3>  Select Flight:</h3>

    <select style="float:left;" style="width: 100px" name="flightId" [(ngModel)]="flightBooking.flightId">
      <option name ="flightId"[ngValue]="null">Select something</option>
      <option *ngFor="let option of flightSort"
              [ngValue]="option.flightId" [innerHtml]="option.flightNumber"></option>
            </select>
          </div> -->


  <!-- <div class="form-group">
    <label for="fromlocation">From Location</label>
    <input type="fromlocation" class="form-control"   placeholder="fromlocation" name ="fromLocation" [(ngModel)]="flight.fromLocation">
  </div>

  <div class="form-group ">
    <label for="toLocation">To Location</label>
    <input type="toLocation" class="form-control"  placeholder="toLocation" name ="contactAddress" [(ngModel)]="flight.toLocation">
  </div> -->
  <div class="left">
    From date:<input style="width: 200px" type="date" class="form-control" [(ngModel)]="flightBooking.fromDate">
  </div>
    <div class="left">

    <label for="airlineName">Airline Name</label>
    <input style="width: 150px" type="text" class="form-control"  placeholder="airlineName" name ="airlineName" [(ngModel)]="flightBooking.airlineName">
    </div>
    <div class="left">

      <label for="flightNumber">Flight Number</label>
      <input style="width: 150px" type="text" class="form-control"  placeholder="flightNumber" name ="airlineName"  [(ngModel)]="flightBooking.flightNumber">
      </div>

    <div class="left">

      <label for="price">NoOfSeats</label>
      <input style="width: 100px" type="number" class="form-control"  placeholder="noOfNONBUSeats" name ="noOfNONBUSeats" (click)="price()" [(ngModel)]="flightBooking.noOfNONBUSeats">
      </div>


    <div class="left">

    <label for="price">Price</label>
    <input style="width: 100px" type="number" class="form-control"  placeholder="price" name ="totalPrice" [(ngModel)]="flightBooking.totalPrice">


  </div>
  <div class="left">
    <h3>  Select Discount:</h3>

      <select style="float:left;" style="width: 100px" (change)="populateCity($event.target)"  name="discount" [(ngModel)]="flightBooking.discount">
        <option name ="discount"[ngValue]="null">Select something</option>
        <option *ngFor="let option of discounts"
                [ngValue]="option.value" [innerHtml]="option.name"></option>
              </select>
            </div> -->



</form>


<br>
<button type="submit" class="add-button btn btn-primary" (click)="addItems()">Add</button>


    <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col" style="display: none;">Id</th> -->
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">SeatNo</th>
          <th scope="col">Veg</th>
          <th scope="col">Non Veg</th>
        </tr>
      </thead>
      <tbody >
    <!-- debugger; -->
        <tr *ngFor="let person of flightBooking.bookingPersonsModel ; let i = index">

          <!-- <td style="display: none;">{{airline.id}}</td> -->
          <td><input type="text" style="width: 200px" name="person.name" [(ngModel)]="person.name"></td>
          <td><input type="number" style="width: 100px" name="person.age" [(ngModel)]="person.age"></td>
          <td><input type="text" style="width: 100px" name="person.gender" [(ngModel)]="person.gender"></td>
          <td ><input type="number" style="width: 100px" name="person.SeatNo" [(ngModel)]="person.SeatNo"></td>
          <td ><input type="radio" style="width: 100px" name="person.SeatNo" [value]="true" [(ngModel)]="person.veg"></td>
          <td ><input type="radio" style="width: 100px" name="person.SeatNo"[value]="true" [(ngModel)]="person.nonVeg"></td>

        </tr>
      </tbody >
    </table>
<button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="cancel()"> Cancel</button>



