<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="userName" class="form-label">UserName</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
              Please Provide UserName
            </span>
        </div>

        <div class="form-group col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
            Please Provide password
          </span>
        </div>


        <!-- <div class="form-group col-12">
          <label for="contactAddress" class="form-label">ContactAddress</label>
          <input type="text" class="form-control" formControlName="contactAddress">
          <span *ngIf="f['contactAddress'].touched && f['contactAddress'].invalid" class="alert alert-danger">
            Please Provide Name
          </span>
        </div> -->

        <div class="form-group col-12  d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-primary ">Save</button>
          <!-- <button type="submit" class="btn btn-primary" (click)="redirect()">Register</button> -->

          <!-- <a class="center" routerLinkActive="active" routerLink="" >Register</a> -->
          <!-- <button type="reset" class="btn btn-secondary ml-2">Cancel</button> -->
        </div>
        <div>
          <p class="mb-0">Don't have an account? <a routerLinkActive="active" routerLink="/register" class="text-black-50 fw-bold">Sign Up</a>
          </p>
          <a class="center" routerLinkActive="active" routerLink="" >Back to Homepage</a>
          </div>


      </form>
    </div>
  </div>
  </div>
</div>


