<app-home></app-home>
<div >
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="display: none;">Id</th>
      <th scope="col">Name</th>
      <th scope="col">ContactNumber</th>
      <th scope="col">ContactAddress</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody >
<!-- debugger; -->
    <tr *ngFor="let airline of airlines">

      <td style="display: none;">{{airline.Id}}</td>
      <td>{{airline.name}}</td>
      <td>{{airline.contactNumber}}</td>
      <td>{{airline.contactAddress}}</td>
      <td >{{airline.status}}</td>
      <td ><button class="btn btn-primary" type="submit">Edit</button></td>
      <td ><button class="btn btn-primary" type="submit">InActive</button></td>
    </tr>

  </tbody>
</table>
</div>


