<app-home></app-home>
<form class="airline">
  <div class=" form-group">
    <label for="flightId">Name</label>
    <input type="flightId" class="form-control"  placeholder="flightId" name ="flightId" [(ngModel)]="flight.flightId">

  </div>
  <div class="form-group ">
    <label for="AirlineId"><h3>Select Airline</h3></label>
    <select name="airlineId" [(ngModel)]="flight.airlineId">
      <option name ="airlineId"[ngValue]="null">Select Airline </option>
      <option *ngFor="let option of airlines"
              [ngValue]="option.airlineId" [innerHtml]="option.airlineName"></option>
    </select>

  </div>

  <div class="form-group">
    <label for="fromlocation">From Location</label>
    <input type="fromlocation" class="form-control"   placeholder="fromlocation" name ="fromLocation" [(ngModel)]="flight.fromLocation">
  </div>

  <div class="form-group ">
    <label for="toLocation">To Location</label>
    <input type="toLocation" class="form-control"  placeholder="toLocation" name ="toLocation" [(ngModel)]="flight.toLocation">
  </div>
  <div class="form-group ">
    <label for="veg">Veg</label>
    <input type="radio" class="form-control"  placeholder="veg" name ="veg"  [(ngModel)]="flight.veg"  [value]="true" >

    <label for="nonVeg">Non Veg</label>
    <input type="radio" class="form-control"  placeholder="nonVeg" name ="nonVeg" [(ngModel)]="flight.nonVeg" [value]="true" >
  </div>
  <div class="form-group ">
    <label for="remarks">remarks</label>
    <input type="remarks" class="form-control"  placeholder="remarks" name ="remarks" [(ngModel)]="flight.remarks">
  </div>
  <div class="form-group ">
    <label for="price">Price</label>
    <input type="number" class="form-control"  placeholder="price" name ="price" [(ngModel)]="flight.price">
  </div>
  <!-- <div class="form-group ">
    <label for="noOfNONBUSeats">Price</label>
    <input type="number" class="form-control"  placeholder="noOfNONBUSeats" name ="noOfNONBUSeats" [(ngModel)]="flight.noOfNONBUSeats">
  </div> -->
  <div class="form-group ">
    <label for="noOfBUSeats">No.of BuSeats </label>
    <input type="number" class="form-control"  placeholder="noOfBUSeats" name ="noOfBUSeats" [(ngModel)]="flight.noOfBUSeats">
  </div>
  <div class="form-group ">
    <label for="noOfBUSeats">No. Non BuSeats </label>
    <input type="number" class="form-control"  placeholder="noOfBUSeats" name ="noOfBUSeats" [(ngModel)]="flight.noOfNONBUSeats">
  </div>
  <!-- <div class="form-group ">
    <label for="rows">No. Non BuSeats </label>
    <input type="number" class="form-control"  placeholder="rows" name ="rows" [(ngModel)]="flight.rows">
  </div> -->
  <div class="form-group ">
    <label for="AirlineId"><h3>Select Sheule </h3></label>
    <select name="sheduled" [(ngModel)]="flight.sheduled">

      <option name ="sheduled"[ngValue]="null"><h3>Select Sheule</h3></option>
      <option *ngFor="let brand of shedules" [value]="brand">
        {{ brand }}
      </option>
    </select>

  </div>

  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="submit" class="btn btn-primary" (click)="cancel()"> Cancel</button>
</form>
